{{!-- <div class="container">
    <div class="row" style="padding-top: 20px">
        <h1>Listado de Rescue</h1>
    </div>
    <div class="row">

        <div class="col-md-4 col-sm-6">
            <div class="tp-author-box">

                <div class="author-cover-img">
                    <img src="http://via.placeholder.com/800x500" class="img-responsive" alt="">
                </div>

                <div class="tp-author-detail-wrapper">
                    <div class="tp-author-detail-box">
                        <div class="tp-author">
                            <a href="author-detail.html" title="author"><img src="http://via.placeholder.com/80x80"
                                    class="img-responsive " alt=""></a>
                        </div>
                        <div class="tp-author-header">
                            <h4><a href="author-detail.html" title="author">Eliza Veriliaza</a></h4>
                            <ul>
                                <li>Australia</li>
                                <li>
                                    <div class="author-type elite-author">Elite Author</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tp-author-basic-info">
                        <ul>
                            <li><strong>Listings</strong>120</li>
                            <li><strong>Followers</strong>870</li>
                            <li><strong>Following</strong>625</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> --}}

<h1>Listado de Rescues</h1>

{{#each allRescues}}

{{_id}}

<p>he aqui la etiqueta</p>

{{/each}}