<div class="container">
    <div class="row" style="padding-top: 20px">
        <h1>Listado de Mascotas</h1>
    </div>
    <div class="row">
        <!-- Single List Item -->
        <div class="col-md-12 col-sm-12">
            <div class="verticleilist listing-shot">
                <div class="listing-badge now-open">En Adopción</div>

                <a class="listing-item" href="#">
                    <div class="listing-shot-img">
                        <img src="http://via.placeholder.com/800x800" class="img-responsive" alt="">
                        <span class="approve-listing"><i class="fa fa-check"></i></span>
                    </div>
                </a>

                <div class="verticle-listing-caption">

                    <span class="like-listing"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                    <div class="listing-shot-caption">
                        <h4>Nombre de la mascota</h4>
                        <p class="listing-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                    </div>

                    <div class="listing-shot-info">
                        <div class="row extra">
                            <div class="col-md-12">
                                <div class="listing-detail-info">
                                    <span><i class="fa fa-map-marker" aria-hidden="true"></i>Sexo:</span>
                                    <span><i class="fa fa-phone" aria-hidden="true"></i> Fecha de entrada: </span>
                                    <span><i class="fa fa-globe" aria-hidden="true"></i> Esterilizada:</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="listing-shot-info rating">
                        <div class="row extra">
                            <div class="col-md-7 col-sm-7 col-xs-6">
                                <span><a href="/rescue-detail=?id" class="detail-link">VER FICHA RESCUE</a></span>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-6 pull-right">
                                <a href="/pet-detail=?id" class="detail-link">VER FICHA MASCOTA</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>