<div class="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <img src="/images/Logo-pets.png">
                </div>
            </div>
            {{!-- <h1>{{title}}</h1> --}}
            {{!-- <p>Welcome to {{title}}</p> --}}

            <div class="row" style="margin-top: 50px;">

                <a href="/list-pets" class="btn reservation btn-radius theme-btn mrg-top-10">Listado de mascotas</a>
                <hr>
                <a href="/list-rescue" class="btn reservation btn-radius theme-btn mrg-top-10">Listado de
                    Protectoras</a>
                <hr>
                <a href="/rescue/profile" class="btn reservation btn-radius theme-btn mrg-top-10">Perfil Rescue</a>
                <hr>
                <a href="/adopter/profile" class="btn reservation btn-radius theme-btn mrg-top-10">Perfil adopter</a>
                <hr>
                <hr>
                <a href="/send" class="btn reservation btn-radius theme-btn mrg-top-10">Contacto</a>
                <hr>
            </div>
        </div>
    </section>
</div>