<div class="container">

    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

<a href="/list-pets">Listado de mascotas</a>
<a href="/list-rescue">Listado de Protectoras</a>
<a href="/send">Contacto</a>





    <a href="/list-pets">Listado de mascotas</a>
    <hr>
    <a href="/list-rescue">Listado de Protectoras</a>
    <hr>
    <a href="/rescue/profile">Perfil Rescue</a>
    <hr>

    <a href="/adopter/profile">Perfil adopter</a>
    <hr>
