<div class="wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <img src="/images/Logo-pets.png">
                </div>
            </div>
            {{!-- <h1>{{title}}</h1> --}}
            {{!-- <p>Welcome to {{title}}</p> --}}

            <div class="row" style="margin-top: 50px;">

                <a href="/list-pets">Listado de mascotas</a>
                <hr>
                <a href="/list-rescue">Listado de Protectoras</a>
                <hr>
                <a href="/rescue/profile">Perfil Rescue</a>
                <hr>

                <a href="/adopter/profile">Perfil adopter</a>
                <hr>
            </div>
        </div>
    </section>
</div>