<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2 class="display-2">Contacto:</h2>
            <ul class="list-group">

<form action="/send-email" method="post">
    <label for="">Email</label>
    <input type="email" name="email" id="">
    <label for="">Subject</label>
    <input type="text" name="subject" id="">
    <label for="">Message</label>
    <textarea type="text" name="message" id=""></textarea>
    <button type="submit">Submit</button>
</form>



    