<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h1 style="font-weight: 100">Nueva Asociación:</h1>
        </div>

        <div class="col-md-6">

            <form action="/associations/new" method="post">
                <div class="form-group">
                    <label for="name-input">Nombre</label>
                    <input name="name" type="text" class="form-control" id="name-input">
                </div>
                <div class="form-group">
                    <label for="description-input">Descripción</label>
                    <input name="description" type="text" class="form-control" id="description-input">
                </div>
                <div class="form-group">
                    <label for="email-input">email</label>
                    <input name="email" type="text" class="form-control" id="email-input">
                </div>
                <div class="form-group">
                    <label for="password-input">password</label>
                    <input name="password" type="text" class="form-control" id="password-input">
                </div>
                <div class="form-group">
                    <label for="logo-input">logo</label>
                    <input name="logo" type="text" class="form-control" id="logo-input">
                </div>
                <div class="form-group">
                    <label for="location-input">location</label>
                    <input name="location" type="text" class="form-control" id="location-input">
                </div>

                <button type="submit" class="btn btn-dark">Enviar</button>
            </form>
        </div>

    </div>
</div>
